<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
<h1>Lista de Produtos</h1>
    <ul>
        {% for product in products %}
            <a href="{% url 'update_products' product.id %}">
                <li>{{ product.description}}</li>
            </a>
        {% endfor %}
    </ul>


    <h3><a href="{% url 'create_products' %}">Adicionar Novo Produto</a></h3>


<p>Autor: Victor Forato Abreu Pereira</p>
</body>
</html>