<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>

    <h1>New/Update Product</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salvar</button>
    </form>

    {% if product %}
        <a href="{% url 'delete_products' product.id %}">Deletar</a>
    {% endif %}

<p>Autor: Victor Forato Abreu Pereira</p>
</body>
</html>